
nav{
display: flex;
text-decoration: none;
justify-content: space-around;
}

.nav-item_01 {
    display: inline-block;
    list-style: none;
    justify-content: left;
}

.nav-item_02 {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: right;
    padding: 15px;
}